docker-influx-volume/
docker-grafana-volume/
.backend/
.idea/
frontend/root/.cache/
frontend/root/dist/
fronted/root/lib/dist
fronted/root/lib/.cache
frontend/root/node_modules/
frontend/dist/
frontend/node_modules/
!docker-influx-volume/db_init.txt

