body{
    margin: 0;
	text-align: center;
		
}

.navibar {
    width: 1170px;
	margin: 0 auto;
}
header {
	height: 80px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
    text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 15px;
	color: #fff;
}
.banner-area {
	width: 100%;
	height: 450px;
	position: fixed;
	top: 80px;
	background-image: url(/img/nokia2.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.column {
	float: left;
	width: 25%;
	padding: 130px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
	content: "";
	clear: both;
	display: table;
  }

.float-my-children > * {
    float:center;
    margin-right:5px;
}

.clearfix {
	*zoom:1 /* for IE */
}

.clearfix:after {
    content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.banner-area h2 {
	padding-top: 10%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;
}
.content-area {
	width: 100%;
	position: relative;
	top: 550px;
	background: #ebebeb;
	height: 4000px;

}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 130px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

.elem{
	position: relative;
	top: 70px;
    background-color: darkgray;
    color: white;
    height: 120px;
    width: 700px;
	margin: 0 auto;
	margin-top: 50px;
    text-align: center;

}

.elemValue{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    font-size: 20px;

}

.img{
	position: relative;
	top: 70px;
	margin: 0 auto;
	margin-top: 50px;

}


.elem:hover{
    background-color: #404040;
}
